<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6b6398">  <td>19/10/09 10:24:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_OrderForService_5010.AddStudentsInfo()[pri:0, instance:TestCases.NYC_OrderForService_5010@4de4b452]">AddStudentsInfo</td> 
  <td>main@1110031167</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>19/10/09 10:27:17</td>   <td>145792</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_OrderForService_5010.closeBrowser()[pri:0, instance:TestCases.NYC_OrderForService_5010@4de4b452]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1110031167</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>19/10/09 10:24:26</td>   <td>-25124</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_OrderForService_5010.driverinitialize()[pri:0, instance:TestCases.NYC_OrderForService_5010@4de4b452]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1110031167</td>   <td></td> </tr>
</table>
