<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90ad9c">  <td>19/09/30 21:33:20</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_StudentTcs_3288.driverinitialize()[pri:0, instance:TestCases.NYC_StudentTcs_3288@3c947bc5]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="90ad9c">  <td>19/09/30 21:33:50</td>   <td>29354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_StudentTcs_3288.AddStudentsInfo(java.util.Map)[pri:0, instance:TestCases.NYC_StudentTcs_3288@3c947bc5]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="90ad9c">  <td>19/09/30 21:36:38</td>   <td>197937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_StudentTcs_3288.AddStudentsInfo(java.util.Map)[pri:0, instance:TestCases.NYC_StudentTcs_3288@3c947bc5]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="90ad9c">  <td>19/09/30 21:37:39</td>   <td>258948</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_StudentTcs_3288.closeBrowser()[pri:0, instance:TestCases.NYC_StudentTcs_3288@3c947bc5]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="cb8df7">  <td>19/09/30 21:37:42</td>   <td>261759</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_StudentTcs_3033.driverinitialize()[pri:0, instance:TestCases.NYC_StudentTcs_3033@13b13b5d]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="cb8df7">  <td>19/09/30 21:38:07</td>   <td>286633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_StudentTcs_3033.AddStudentsInfo(java.util.Map)[pri:0, instance:TestCases.NYC_StudentTcs_3033@13b13b5d]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="cb8df7">  <td>19/09/30 21:42:08</td>   <td>528031</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_StudentTcs_3033.closeBrowser()[pri:0, instance:TestCases.NYC_StudentTcs_3033@13b13b5d]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="b59da4">  <td>19/09/30 21:42:11</td>   <td>530369</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_StudentTcs_3242.driverinitialize()[pri:0, instance:TestCases.NYC_StudentTcs_3242@482bce4f]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="b59da4">  <td>19/09/30 21:42:34</td>   <td>553737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_StudentTcs_3242.AddStudentsInfo(java.util.Map)[pri:0, instance:TestCases.NYC_StudentTcs_3242@482bce4f]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="b59da4">  <td>19/09/30 21:46:26</td>   <td>785357</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_StudentTcs_3242.closeBrowser()[pri:0, instance:TestCases.NYC_StudentTcs_3242@482bce4f]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="e7f17d">  <td>19/09/30 21:46:28</td>   <td>787596</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_StudentTcs_3295.driverinitialize()[pri:0, instance:TestCases.NYC_StudentTcs_3295@503d687a]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="e7f17d">  <td>19/09/30 21:46:53</td>   <td>812639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_StudentTcs_3295.AddStudentsInfo(java.util.Map)[pri:0, instance:TestCases.NYC_StudentTcs_3295@503d687a]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="e7f17d">  <td>19/09/30 21:48:56</td>   <td>935713</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_StudentTcs_3295.closeBrowser()[pri:0, instance:TestCases.NYC_StudentTcs_3295@503d687a]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="97cf6d">  <td>19/09/30 21:48:56</td>   <td>935931</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_OrderForService_5000.driverinitialize()[pri:0, instance:TestCases.NYC_OrderForService_5000@140c9f39]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="97cf6d">  <td>19/09/30 21:49:17</td>   <td>956685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_OrderForService_5000.AddStudentsInfo()[pri:0, instance:TestCases.NYC_OrderForService_5000@140c9f39]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="97cf6d">  <td>19/09/30 21:51:29</td>   <td>1089052</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_OrderForService_5000.closeBrowser()[pri:0, instance:TestCases.NYC_OrderForService_5000@140c9f39]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="9869b8">  <td>19/09/30 21:51:31</td>   <td>1091293</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_OrderForService_5001.driverinitialize()[pri:0, instance:TestCases.NYC_OrderForService_5001@73ee04c8]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="9869b8">  <td>19/09/30 21:51:53</td>   <td>1113298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_OrderForService_5001.AddStudentsInfo()[pri:0, instance:TestCases.NYC_OrderForService_5001@73ee04c8]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="9869b8">  <td>19/09/30 21:54:39</td>   <td>1278680</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_OrderForService_5001.closeBrowser()[pri:0, instance:TestCases.NYC_OrderForService_5001@73ee04c8]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="f7cfd9">  <td>19/09/30 21:54:41</td>   <td>1280898</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_OrderForService_5002.driverinitialize()[pri:0, instance:TestCases.NYC_OrderForService_5002@65f095f8]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="f7cfd9">  <td>19/09/30 21:55:09</td>   <td>1308802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_OrderForService_5002.AddStudentsInfo()[pri:0, instance:TestCases.NYC_OrderForService_5002@65f095f8]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="f7cfd9">  <td>19/09/30 21:57:18</td>   <td>1438060</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_OrderForService_5002.closeBrowser()[pri:0, instance:TestCases.NYC_OrderForService_5002@65f095f8]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="836cb8">  <td>19/09/30 21:57:20</td>   <td>1440272</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_OrderForService_5003.driverinitialize()[pri:0, instance:TestCases.NYC_OrderForService_5003@e7edb54]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="836cb8">  <td>19/09/30 21:57:47</td>   <td>1466898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_OrderForService_5003.AddStudentsInfo()[pri:0, instance:TestCases.NYC_OrderForService_5003@e7edb54]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="836cb8">  <td>19/09/30 22:00:40</td>   <td>1640027</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_OrderForService_5003.closeBrowser()[pri:0, instance:TestCases.NYC_OrderForService_5003@e7edb54]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="b577ab">  <td>19/09/30 22:00:42</td>   <td>1642213</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_OrderForService_5004.driverinitialize()[pri:0, instance:TestCases.NYC_OrderForService_5004@67080771]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="b577ab">  <td>19/09/30 22:01:09</td>   <td>1669115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_OrderForService_5004.AddStudentsInfo()[pri:0, instance:TestCases.NYC_OrderForService_5004@67080771]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="b577ab">  <td>19/09/30 22:03:22</td>   <td>1801704</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_OrderForService_5004.closeBrowser()[pri:0, instance:TestCases.NYC_OrderForService_5004@67080771]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="8dad64">  <td>19/09/30 22:03:22</td>   <td>1801957</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_OrderForService_5005.driverinitialize()[pri:0, instance:TestCases.NYC_OrderForService_5005@29e495ff]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="8dad64">  <td>19/09/30 22:03:47</td>   <td>1826515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_OrderForService_5005.AddStudentsInfo()[pri:0, instance:TestCases.NYC_OrderForService_5005@29e495ff]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="8dad64">  <td>19/09/30 22:05:53</td>   <td>1953166</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_OrderForService_5005.closeBrowser()[pri:0, instance:TestCases.NYC_OrderForService_5005@29e495ff]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="8c8a62">  <td>19/09/30 22:05:56</td>   <td>1955389</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_OrderForService_5006.driverinitialize()[pri:0, instance:TestCases.NYC_OrderForService_5006@272ed83b]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="8c8a62">  <td>19/09/30 22:06:19</td>   <td>1978348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_OrderForService_5006.AddStudentsInfo()[pri:0, instance:TestCases.NYC_OrderForService_5006@272ed83b]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="8c8a62">  <td>19/09/30 22:10:02</td>   <td>2201392</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_OrderForService_5006.closeBrowser()[pri:0, instance:TestCases.NYC_OrderForService_5006@272ed83b]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="64b4ec">  <td>19/09/30 22:10:04</td>   <td>2203816</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_OrderForService_5007.driverinitialize()[pri:0, instance:TestCases.NYC_OrderForService_5007@b62d79]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="64b4ec">  <td>19/09/30 22:10:28</td>   <td>2228162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_OrderForService_5007.AddStudentsInfo()[pri:0, instance:TestCases.NYC_OrderForService_5007@b62d79]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="64b4ec">  <td>19/09/30 22:13:03</td>   <td>2382364</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_OrderForService_5007.closeBrowser()[pri:0, instance:TestCases.NYC_OrderForService_5007@b62d79]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="9fe6c9">  <td>19/09/30 22:13:05</td>   <td>2384572</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_OrderForService_5008.driverinitialize()[pri:0, instance:TestCases.NYC_OrderForService_5008@34f5090e]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="9fe6c9">  <td>19/09/30 22:13:30</td>   <td>2409507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_OrderForService_5008.AddStudentsInfo()[pri:0, instance:TestCases.NYC_OrderForService_5008@34f5090e]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="9fe6c9">  <td>19/09/30 22:15:48</td>   <td>2547359</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_OrderForService_5008.closeBrowser()[pri:0, instance:TestCases.NYC_OrderForService_5008@34f5090e]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>19/09/30 22:15:50</td>   <td>2549594</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_OrderForService_5009.driverinitialize()[pri:0, instance:TestCases.NYC_OrderForService_5009@49912c99]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>19/09/30 22:16:12</td>   <td>2571837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_OrderForService_5009.AddStudentsInfo()[pri:0, instance:TestCases.NYC_OrderForService_5009@49912c99]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>19/09/30 22:18:26</td>   <td>2706140</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_OrderForService_5009.closeBrowser()[pri:0, instance:TestCases.NYC_OrderForService_5009@49912c99]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="97aea5">  <td>19/09/30 22:18:27</td>   <td>2706450</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_OrderForService_5010.driverinitialize()[pri:0, instance:TestCases.NYC_OrderForService_5010@6a84a97d]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="97aea5">  <td>19/09/30 22:18:49</td>   <td>2729226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_OrderForService_5010.AddStudentsInfo()[pri:0, instance:TestCases.NYC_OrderForService_5010@6a84a97d]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="97aea5">  <td>19/09/30 22:20:54</td>   <td>2854133</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_OrderForService_5010.closeBrowser()[pri:0, instance:TestCases.NYC_OrderForService_5010@6a84a97d]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>19/09/30 22:20:55</td>   <td>2854442</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_OrderForService_5011.driverinitialize()[pri:0, instance:TestCases.NYC_OrderForService_5011@6bedbc4d]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>19/09/30 22:21:17</td>   <td>2877236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_OrderForService_5011.AddStudentsInfo()[pri:0, instance:TestCases.NYC_OrderForService_5011@6bedbc4d]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="af606c">  <td>19/09/30 22:24:42</td>   <td>3081328</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_OrderForService_5011.closeBrowser()[pri:0, instance:TestCases.NYC_OrderForService_5011@6bedbc4d]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="997e9d">  <td>19/09/30 22:24:44</td>   <td>3083538</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_StudentHistory_4685.driverinitialize()[pri:0, instance:TestCases.NYC_StudentHistory_4685@793be5ca]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="997e9d">  <td>19/09/30 22:25:04</td>   <td>3103770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_StudentHistory_4685.AddStudentsInfo()[pri:0, instance:TestCases.NYC_StudentHistory_4685@793be5ca]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="997e9d">  <td>19/09/30 22:35:28</td>   <td>3727725</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_StudentHistory_4685.closeBrowser()[pri:0, instance:TestCases.NYC_StudentHistory_4685@793be5ca]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="79b2da">  <td>19/09/30 22:35:30</td>   <td>3730163</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_StudentHistory_4686.driverinitialize()[pri:0, instance:TestCases.NYC_StudentHistory_4686@6babf3bf]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="79b2da">  <td>19/09/30 22:35:51</td>   <td>3751284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_StudentHistory_4686.AddStudentsInfo()[pri:0, instance:TestCases.NYC_StudentHistory_4686@6babf3bf]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="79b2da">  <td>19/09/30 22:39:27</td>   <td>3966933</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_StudentHistory_4686.closeBrowser()[pri:0, instance:TestCases.NYC_StudentHistory_4686@6babf3bf]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="62f9ae">  <td>19/09/30 22:39:27</td>   <td>3967281</td> <td>&nbsp;</td><td title="&gt;&gt;NYC_StudentHistory_4999.driverinitialize()[pri:0, instance:TestCases.NYC_StudentHistory_4999@2b48a640]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="62f9ae">  <td>19/09/30 22:39:47</td>   <td>3987306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NYC_StudentHistory_4999.AddStudentsInfo()[pri:0, instance:TestCases.NYC_StudentHistory_4999@2b48a640]">AddStudentsInfo</td> 
  <td>main@1030684756</td>   <td></td> </tr>
<tr bgcolor="62f9ae">  <td>19/09/30 22:42:10</td>   <td>4129922</td> <td>&nbsp;</td><td title="&lt;&lt;NYC_StudentHistory_4999.closeBrowser()[pri:0, instance:TestCases.NYC_StudentHistory_4999@2b48a640]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1030684756</td>   <td></td> </tr>
</table>
